html,
body {
	width: 100%;
	height: 100%;
	min-height: 400px;
	min-width: 1100px;
	font: 14px "微软雅黑";
	/*
    color: #666666;
    */
	color: #333;
	background: #ffffff;
}

.box {
	width: 100%;
	height: 100%;
	min-width: 600px;
	position: relative;
}

.top-bar {
	width: 100%;
	height: 50px;
	position: relative;
	background: #373942;
}

.top-bar .logo-box{
    width: 293px;
    height: 50px;
    background: #ffffff;
    position: relative;
}
.top-bar .logo-box img{
	position: absolute;
	top: 40%;
	left: 50%;
	margin-left: -69.5px;
}
.top-bar .title-box {
	position: absolute;
	top: 0;
	left: 244px;
	right: 0;
	background-size: cover;
}

.title-box .title-text {
	margin-left: 25px;
	width:100%;
	color: #ffffff;
	font: 20px "微软雅黑";
	line-height: 40px;
	text-align: center;
}

.box .side-bar {
	float: left;
	width: 243px;
	margin-left: 50px;
	margin-top: 30px;
	background: #f5f5f5;
	margin-bottom: 20px;
}

.side-bar li {
	height: 40px;
	cursor: pointer;
	z-index: 3;
	line-height: 40px;
	position: relative;
}

.side-bar li a {
	color: #666666;
	font: 15.5px "微软雅黑";
	line-height: 40px;
	padding-left: 28px;
	//text-align: lef;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.side-bar li:hover {
	background: #ddecf4;
}

.side-bar li:hover a {
	color: #20bafd;
}


/*.side-bar li.active{*/


/**/


/*}*/

.side-bar li.present {
	color: #20bafd;
	background: #ddecf4;
	border-right: none;
}

.side-bar li.present .blue-line {
	width: 4px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 0;
	background: #20bafd;
}

.side-bar li.present a {
	color: #20bafd;
}

.side-bar li.present .arrow-blue {
	width: 9px;
	height: 14px;
	position: absolute;
	top: 13px;
	right: 5px;
	background: url('../images/icon-1.png') no-repeat -174px -40px;
}

.side-bar li .hide-gray {
	width: 13px;
	height: 13px;
	position: absolute;
	top: 13px;
	right: 5px;
	background: url('../images/icon-1.png') no-repeat -172px -17px;
}

.side-bar li .show-blue {
	width: 13px;
	height: 1px;
	position: absolute;
	top: 18px;
	right: 5px;
	background: url('../images/icon-1.png') no-repeat -198px -24px;
}

.side-bar .next-menu {
	display: none;
}

.side-bar .child-menu {
	height: 40px;
	width: 99.6%;
	cursor: pointer;
	z-index: 3;
	line-height: 40px;
	position: relative;
}

.side-bar .child-menu a {
	color: #666666;
	font: 14px "微软雅黑";
	line-height: 40px;
	padding-left: 44px;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.side-bar .child-menu.current .blue-line {
	width: 4px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 0;
	background: #20bafd;
}

.side-bar .child-menu.current {
	background: #ddecf4;
	border-right: none;
}

.side-bar .child-menu:hover {
	background: #ddecf4;
}

.side-bar .child-menu:hover a {
	color: #20bafd;
}

.side-bar .child-menu.current a {
	color: #20bafd;
}

.side-bar .child-menu.current .arrow-blue {
	width: 9px;
	height: 14px;
	position: absolute;
	top: 13px;
	right: 5px;
	background: url('../images/icon-1.png') no-repeat -174px -40px;
}

.child-menu .icon-circle {
	width: 6px;
	height: 6px;
	position: absolute;
	top: 17px;
	left: 34px;
	background: url('../images/icon-1.png') no-repeat -193px -46px;
}

.child-menu:hover .icon-circle {
	background: url('../images/icon-1.png') no-repeat -205px -46px;
}

.child-menu.current .icon-circle {
	background: url('../images/icon-1.png') no-repeat -205px -46px;
}

.box .contain {
	height: auto;
	overflow-y: auto;
	margin-top: 30px;
	margin-right: 50px;
}

.box .contain iframe {
	width: 100%;
	/*height: 99%;*/
}

.textnoselect {
	-moz-user-select: none;
	/*火狐*/
	-webkit-user-select: none;
	/*webkit浏览器*/
	-ms-user-select: none;
	/*IE10*/
	-khtml-user-select: none;
	/*早期浏览器*/
	user-select: none;
}