.pop-container{
	width:100%;
    height: 100%;
    position:fixed;
    left:0;
    top:0;
    z-index: 100;
}
.pop-mask{
    width:100%;
    height: 100%;
    zoom: 1;
    position:absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background:#000;
    background:rgb(0,0,0);
    opacity:0.15;
    filter:alpha(opacity=15);
    -moz-opacity: 0.15;
}
.pop-content{
    width: 350px;
    height: 200px;
    position: absolute;
	left:50%;
	top:50%;
    margin-left: -175px;
    margin-top: -100px;
    background: #FFFFFF;
}
.pop-content .pop-title{
    width: 100%;
    height: 32px;
    background: #20bafd;
}
.pop-title .pop-titleText{
    float: left;
    margin-left: 20px;
    color: #ffffff;
    font: 14px "微软雅黑";
    line-height: 32px;
}
.pop-title .pop-closeBtn{
    width: 15px;
    height: 15px;
    float: right;
    margin-right: 8px;
    margin-top: 9px;
    cursor: pointer;
    position: relative;
}
.pop-title .pop-closeBtn:hover{
    background: #1ca6e2;
}
 .pop-closeBtn .icon-close{
    width: 12px;
    height: 12px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: url(../images/icon-1.png) no-repeat -223px -21px;
}
.pop-main{
    margin-top: 35px;
    height: 85px;
    margin-left: 10px;
    width: 330px;
}
.pop-main .pop-mainText{
    color: #666666;
    font: 14px "微软雅黑";
    text-align: center;
    word-break:break-all;
    text-overflow : ellipsis;
}

.pop-btnBox input{
    width: 65px;
    height: 25px;
    color: #ffffff;
    font: 14px "微软雅黑";
    border: none;
    cursor: pointer;
}
input.blue-btn{
    float: left;
    /*
    background: #20bafd;
    */
   	background: #20bafd;
}
input.yellow-btn{
    float: left;
    background: #20bafd;
    margin-left: 120px;
}